---
// Component Script (runs on the server)
const title = "Hello, World!";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body>
    <div>
      <h1>{title}</h1>
    </div>
  </body>
</html>

<style>
  div {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 60px;
  }
</style>